:root {
  --primary-color: #0a4870;
  --secondary-color: #ec992c;
  --grey-color: #7d7d7d;
  --grey-alpha-1: #f0f0f0;
  --grey-alpha-2: #e8e7e7;
  --grey-alpha-3: #fdfdfd;
  --primary-alpha-1: #49606e;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 768px) {
  .container {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.form-control {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c5d6eb;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out;
}
