.recipe-title {
  padding: 30px 0;
}
.recipe-img {
  width: 550px;
  border-radius: 4px;
}
.recipe-img img {
  width: 100%;
  object-fit: cover;
}
.ingredients-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}
.ingredient-item {
  display: flex;
  align-items: center;
  flex: 1 0 50%;
}

.ingredient-item img {
  width: 50px;
  margin: 5px;
}
@media (max-width: 480px) {
  .recipe-img {
    width: 100%;
  }
}
